<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/nav') %>

            <div class="content">
                <h2>About page</h2>
                <p>
                    This blog hosting platform has been created by me. As a small attempt to learn and explore web technologies.
                </p>
                <p>
                    Your blog data is saved in a remote mongoDB database.
                </p>
                <p>
                    It is based on CRUD(create, read, update and delete) operations.
                </p>
                <p>
                    Please do write a beautiful blog for others to enjoy.
                </p>
                <p>
                    My name is <a href="https://www.linkedin.com/in/rishikesh-joshi-280966157/" style="text-decoration: none; color:rgb(229, 168, 12)">Rishikesh Joshi</a> and I am a student of Engineering with passion for music and sports.
                </p>
                <p>
                    Link of repository: <a href="https://github.com/rishikeshjoshi123/Blog-writter" style="text-decoration: none; color:rgb(229, 168, 12)">Github</a>
                </p>
                <p>
                    Thanks for visiting. Best wishes :)
                </p>

            </div>

            <%- include('./partials/footer') %>
    </body>

</html>