<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/nav') %>

            <div class="content">
                <h2>About page</h2>
                <p>
                    This blog hosting platform is creating by me. As a small attempt to learn and explore web technology.
                </p>
                <p>
                    My name is <a href="https://www.linkedin.com/in/rishikesh-joshi-280966157/" style="text-decoration: none; color:rgb(229, 168, 12)">Rishikesh Joshi</a> and I am a student of Engineering with passion for music and sports. Thanks for
                    visiting, Best wishes :)
                </p>
            </div>

            <%- include('./partials/footer') %>
    </body>

</html>