<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/nav') %>

            <div class="content">
                <h2>About page</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta atque eveniet eius saepe facere rem accusantium doloribus, voluptate qui fuga temporibus magni debitis accusamus ipsam aut blanditiis laudantium? Sint, corrupti exercitationem!
                    Omnis, veritatis blanditiis. At voluptatum vero neque tenetur, aspernatur ullam quibusdam natus autem doloremque!</p>
            </div>

            <%- include('./partials/footer') %>
    </body>

</html>